body, button, input{
    font-family: "Pixelify Sans";
}

.cardDiv{
    background-color: rgb(99, 205, 99);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.cardborder {
    border-radius: 10px;
    background: rgb(246, 249, 55);
    padding-top: 5px; 
    width: 430px;
    height: 550px;
    gap: 5px;
    margin: auto;
    white-space: nowrap;
    border: 5px solid black;
}

.cardborder:hover{
    transition: all 0.2s ease-in-out;
}

.TitleGrid {
    display:grid; 
    grid-template-columns: 3fr 1fr;
}

.InterestGrid {
    display:grid; 
    grid-template-columns: 1fr 1fr;
}

.imgbox {
    width: 407px;
    height: 200px;
    background-color: white;
    border:5px solid black;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
}

.cardborder img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cardborder h1 {
  color: black;
  text-align: center;
  margin: 5px;
  background-color: white;
  border: 5px solid black;
  /* box-shadow: 1px 1px white, 3px 3px black; */
  border-radius: 25px;
  max-width: 300px;
}

.cardborder h2 {
  color: black;
  padding-left: 5px;
  padding-top: 4px;
  text-align: left;
  margin: 5px;
  background-color: white;
  border: 5px solid black;
  /* box-shadow: 1px 1px white, 3px 3px black; */
  border-radius: 25px;
  max-width: 90px;
}

.cardborder p1 {
  font-size: 20px;
  background-color: white;
  text-align: center;
  display: block;
  height: 200px;
  border: 4px solid lightgreen;
  width: 90%;
  height: 100%;
  margin: auto;
}

.cardborder p1a {
  font-size: 20px;
  background-color: white;
  text-align: center;
  display: block;
  height: 200px;
  border: 4px solid red;
  width: 90%;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;
}

.cardborder ul2 {
  font-size: 20px;
  background-color: white;
  text-align: center;
  display: block;
  border: 4px solid lightgreen;
  width: 90%;
  height: 100%;
  margin: auto;
}

.cardborder ula {
  font-size: 20px;
  background-color: white;
  text-align: center;
  display: block;
  border: 4px solid red;
  width: 90%;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;
}

.cardborder p3 {
    font-size: 15px;
    background-color: white;
    border: 2px solid black;
    float: right;
    margin-top: -45px;
    margin-right: -5px;
    width: 70%;
    height: 10%;
    border-radius: 10px 0px 0px 10px;
    border-width: 4px;
}

.runaway{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0);
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    box-shadow: 3px 3px black, 6px 6px white;
    transition: opacity 1s ease;
}

.runaway p{
    opacity: 0;
    font-size: 64px;
    transition: all 0.2s ease;
}

.runaway a{
    opacity: 0;
    font: 20px "Pixelify Sans";
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.2s ease;
    transition: opacity 2s ease;
    border-radius: 3px;
}

.runaway a:hover{
    background-color: lightgray;
}

button{
    background-color: white;
    border: none;
    transition: all 0.2s ease-in;
}

button:hover, button:focus{
    background-color: rgb(224, 223, 223);
}

input{
    border: 5px solid black;
    border-radius: 2px;
    width: 80%;
    height: 50px;
    font-size: 20px;
}

.hpCont{
    padding:0px 10px;
    width: 600px;
    height:100px;
    border:5px solid black;
    background-color:white;
    border-right-color:white;
    border-top-color:white;
    
}

.bigBox{
    padding: 0px 0px 0px 75px;
    width: 750px;
    height:150px;
    
}

.otherBox{
    width:750px;
    height:150px;
    float:right;
    
}

.sprite{
    display: flex;
    align-items: center;
    justify-content: center;
    width:730.5px;
    height:350px;
}

.actionBox{
    width:700px;
    height:260px;
    border:5px solid black;
}

.choiceBox{
    width:700px;
    height:260px;
    border:5px solid black;
}

.moveBox{
    width:600px;
    height:300px;
    border:5px solid black;
    float:right;
}

.spriteBox{
    width:250px;
    height:300px;
}

.otherSBox{
    width:250px;
    height:300px;
    float:right;
}

.sprite h1{
    margin-left: 20px;
}

img {
    max-width:100%;
    max-height:100%;
    transition: all 0.2s ease-in;
}

.screen{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: repeat(12, 70px);
}

.otherBar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    
}

.otherSpace{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
}

.space{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 10;
}

.bar{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
}

.choiceBar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 13;
    background-color:white;
}

.actionBar{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 13;
}

.hpBar{
    width:550px;
    height:10px;
    background-color: green;
}

.actionGrid{
    display:grid;
    grid-template-columns:350px 350px;
    grid-template-rows: 300px, 300px;
    height:260px;
    text-align:center;
    vertical-align:center;
}   

.actionButton{
    height: 62.5px;
    width:700px;
    font-size:24px;
}